# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Bb]uild_[Dd]ata/
/bokkusu/bokkusu_Data/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
.vs/
*.exe
#bokkusu.zip


# =================#
# Vim generated    #
# =================#
*~
